@use "sass:meta";
@forward "./styles/_light_theme.scss";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}

body.ff-dark-theme {
  @include meta.load-css("styles/_dark_theme");
}
