@import "./theme.css";

@custom-variant dark (&:where(.ff-dark-theme, .ff-dark-theme *));

th[sortable] {
  position: relative;
  cursor: pointer;

  span.sort-icon {
    position: absolute;
    right: 0;
  }
}

.collapsed {
  height: 0;
  overflow: hidden;
}
