@import "./theme.css";

@custom-variant dark (&:where(.ff-dark-theme, .ff-dark-theme *));

@layer components {
  .ff-button-button {
    @apply inline-flex px-4 py-2 border-2 border-transparent justify-center items-center gap-2;
    @apply rounded-full text-base font-semibold capitalize text-white bg-background;
    @apply hover:bg-brand hover:text-text-dark;
    @apply active:not-disabled:text-text-dark active:not-disabled:bg-brand active:not-disabled:border-[#D3A200];
    @apply disabled:bg-[#D8D8D8] disabled:border-[#D8D8D8] disabled:cursor-not-allowed;

    &.active {
      @apply text-text-dark bg-transparent border-2 border-dashed border-[#626262];
      @apply hover:text-text-dark hover:bg-brand hover:border-[#D3A200];
    }
  }
}

.test {
  @apply text-center text-xl;
}

th[sortable] {
  position: relative;
  cursor: pointer;

  span.sort-icon {
    position: absolute;
    right: 0;
  }
}

.collapsed {
  height: 0;
  overflow: hidden;
}
