@import "./theme.css";

@custom-variant dark (&:where(.ff-dark-theme, .ff-dark-theme *));

@layer components {
  /* ff-button */
  .ff-button-button {
    @apply inline-flex px-4 py-2 border-2 border-transparent justify-center items-center gap-2;
    @apply rounded-full text-base font-semibold capitalize text-white bg-background;
    @apply hover:bg-brand hover:text-text-dark;
    @apply active:not-disabled:text-text-dark active:not-disabled:bg-brand active:not-disabled:border-[#D3A200] active:not-disabled:border-solid;
    @apply disabled:text-[#8A8A8A] disabled:bg-[#D8D8D8] disabled:border-[#D8D8D8] disabled:cursor-not-allowed;

    &.active {
      @apply text-text-dark bg-transparent border-2 border-dashed border-[#626262];
      @apply hover:text-text-dark hover:bg-brand hover:border-[#D3A200];
    }
  }

  /* ff-alert */
  .ff-alert {
    @apply border-[#626262];
  }
  .ff-alert-info {
    @apply border-t-alert-info/20 border-r-alert-info/20 border-b-alert-info/20  border-l-alert-info bg-alert-info/10;
  }
  .ff-alert-success {
    @apply border-t-alert-success/20 border-r-alert-success/20 border-b-alert-success/20  border-l-alert-success bg-alert-success/10;
  }
  .ff-alert-warning {
    @apply border-t-alert-warning/20 border-r-alert-warning/20 border-b-alert-warning/20  border-l-alert-warning bg-alert-warning/10;
  }
  .ff-alert-error {
    @apply border-t-alert-error/20 border-r-alert-error/20 border-b-alert-error/20  border-l-alert-error bg-alert-error/10;
  }

  /* ff-chip */
  .ff-chip {
    @apply border border-solid border-[#626262] px-2 py-1 rounded-lg;
  }
  .ff-chip-rounded {
    @apply px-4 py-1 rounded-full;
  }
  .ff-chip-slim {
    @apply leading-none;
  }

  /* ff-search */
  ff-search {
    @apply inline-block;
  }
  .ff-search {
    @apply px-4 py-2.5 text-xl bg-background-dark border border-solid border-[#D8D8D8] disabled:bg-[#D8D8D8];

    &.disabled {
      @apply bg-[#D8D8D8];
    }
    &.slim {
      @apply px-3 py-1.5 text-xs;

      kbd {
        @apply text-[8px];
      }
    }

    kbd {
      @apply text-lg border border-solid border-[#D8D8D8];
    }
  }

  /* ff-datatable */
  ff-datatable {
    width: 100%;
  }
  .ff-datatable {
    @apply text-text-dark;

    label {
      @apply font-normal;
    }
    select, input {
      @apply p-0.5 border border-solid border-[#bdbfc2] rounded outline-none;
    }
    table th, table td {
      @apply border-y border-solid border-[#626262];
    }
    .dt-btn {
      @apply inline-block px-2.5 py-1 border-none outline-none bg-inherit;
      @apply hover:not-[.fill]:bg-[#e0e0e0];

      &.current-page {
        @apply bg-[#e0e0e0];
      }
      &.first-page, &.last-page {
        @apply cursor-pointer;
      }
      & + .dt-btn {
        @apply border-l border-solid border-[#bdbfc2];
      }
      &[disabled] {
        @apply cursor-not-allowed;
      }
    }
  }
}

/* global */

th[sortable] {
  position: relative;
  cursor: pointer;

  span.sort-icon {
    position: absolute;
    right: 0;
  }
}

.collapsed {
  height: 0;
  overflow: hidden;
}
