@theme {
  --font-inter: 'Inter', var(--font-sans);

  --color-brand: #FDC300;
  --color-text: #FFFFFF;
  --color-background: #FAFAFA;

  --color-alert-info: #037CD4;
  --color-alert-success: #00d841;
  --color-alert-warning: #d89400;
  --color-alert-error: #DA0004;

  --color-anchor: #0066AF;
  --color-active: var(--color-brand);
  /*--ff-color-gray: #8A8A8A;*/
  /*--ff-color-light-gray: #EDEDED;*/
  /*--ff-color-dark-gray: #626262;*/

  /*--ff-bgcolor-white: #FAFAFA;*/
  /*--ff-bgcolor-gray: #D8D8D8;*/
  /*--ff-bgcolor-dark-gray: #343434;*/
  /*--ff-bgcolor-yellow: #FDC300;*/

  /*--ff-border-gray: #626262;*/
  /*--ff-border-yellow: #D3A200;*/

  @variant dark {
    --color-text: #1E1E1E;
    --color-background: #343434;
  }
}
