@use './variables';

ff-button > button {
  &:hover {
    color: variables.$ff-color-dark;
    background-color: variables.$ff-bgcolor-yellow;
  }

  &:disabled {
    color: variables.$ff-color-gray;
    background-color: variables.$ff-bgcolor-dark-gray;
    border-color: variables.$ff-bgcolor-dark-gray;
  }

  &:active:not(:disabled) {
    border: 2px solid variables.$ff-border-yellow;
  }

  &.active {
    color: variables.$ff-bgcolor-yellow;
    border-color: variables.$ff-bgcolor-yellow;

    &:hover {
      color: variables.$ff-color-dark;
      background-color: variables.$ff-bgcolor-yellow;
    }
  }
}

ff-search > label {
  background-color: #000;
  border: 1px solid variables.$ff-border-gray;

  &.disabled {
    background-color: variables.$ff-bgcolor-dark-gray;
  }
}

$ff-alert-dark-opacity: 0.3;

ff-alert > .ff-alert {
  color: variables.$ff-color-light;

  &.info {
    background-color: variables.hex-with-opacity(variables.$ff-alert-info, $ff-alert-dark-opacity);
  }

  &.success {
    background-color: variables.hex-with-opacity(variables.$ff-alert-success, $ff-alert-dark-opacity);
  }

  &.warning {
    background-color: variables.hex-with-opacity(variables.$ff-alert-warning, $ff-alert-dark-opacity);
  }

  &.error {
    background-color: variables.hex-with-opacity(variables.$ff-alert-error, $ff-alert-dark-opacity);
  }
}

ff-datatable>.dt-wrapper {
  color: variables.$ff-color-light;
}
