@import 'variables';

ff-button * {
  box-sizing: border-box;
}

ff-button>button {
  font-family: Inter;
  color: $ff-color-light;
  background-color: $ff-bgcolor-dark-gray;

  &:hover {
    color: $ff-color-dark;
    background-color: $ff-bgcolor-yellow;
  }

  &:active:not(:disabled) {
    color: $ff-color-dark;
    background-color: $ff-bgcolor-yellow;
    border: 3px solid $ff-border-yellow;
  }

  &:disabled {
    color: $ff-color-gray;
    background-color: $ff-bgcolor-gray;
  }

  &.active {
    color: $ff-color-dark;
    background-color: $ff-color-light;
    border: 1px dashed $ff-border-gray;

    &:hover {
      color: $ff-color-dark;
      background-color: $ff-bgcolor-yellow;
    }
  }
}

ff-search>label {
  font-family: Inter;
  color: $ff-color-gray;
  background-color: $ff-bgcolor-white;
  border: 1px solid $ff-bgcolor-gray;

  kbd {
    color: $ff-color-dark-gray;
    border: 1px solid $ff-bgcolor-gray;
  }
}
