@use './variables';

ff-datatable > .dt-wrapper {
  color: variables.$ff-color-dark;

  table {
    margin-top: 4px;
    border-collapse: collapse;
  }

  & th, & td {
    border: 1px solid variables.$ff-border-gray;
    border-width: 1px 0;
  }
}
