$ff-color-light: #FFFFFF;
$ff-color-dark: #1E1E1E;
$ff-color-gray: #8A8A8A;
$ff-color-dark-gray: #626262;
$ff-bgcolor-white: #FAFAFA;
$ff-bgcolor-gray: #D8D8D8;
$ff-bgcolor-dark-gray: #343434;
$ff-bgcolor-yellow: #FDC300;

$ff-border-gray: #626262;
$ff-border-yellow: #D3A200;
