<h1>FF Components</h1>
<ul class="components-list">
  <li>
    <h2>Button</h2>
    <ff-button>Click me!</ff-button>
    <ff-button><app-svg-add-icon [width]="16" [height]="16" colour="#fff"></app-svg-add-icon> Click me!</ff-button>
    <ff-button active="true">Active</ff-button>
    <ff-button toggleable="true">Toggle me!</ff-button>
    <ff-button disabled>Disabled</ff-button>
  </li>
  <li>
    <h2>Search</h2>
    <ff-search [(ngModel)]="searchText"></ff-search>
  </li>
</ul>

<div class="options">
  <ff-button (click)="toggleTheme()">Dark/Light</ff-button>
</div>
