@import "tailwindcss";
@import '../dist/angular-components/index.css';

app-root {
  font-family: 'Inter', sans-serif;

  &.no-font {
    font-family: unset;
  }
}

.yellow-dark {
  color: inherit;
}
.yellow-light {
  color: #ffdb66;
}

body.ff-dark-theme {
  color: #fff;
  background-color: #1E1E1E;

  .yellow-dark {
    color: #ffdb66;
  }
  .yellow-light {
    color: inherit;
  }
}
